.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .inner-top {
      margin: 10px;
    }

    .inner-bottom {
      margin: 10px;
    }

    .title-room {
      position: relative;
    }
    .active-add {
      position: absolute;
      right: 10%;
      background-color: rgb(8, 223, 97);
      color: aliceblue;
    }
    .space-line {
      background-color: rgb(187, 181, 181);
      width: 100%;
      height: 1px;
    }
    .roomtiem {
      margin: 10px;
      padding: 10px;
      width: 100%;
      height: 100%;

      display: grid;
      column-gap: 10px;
      grid-template-columns: auto auto auto auto;
    }
    .room {
      margin: 5px;
      padding: 5px;
      width: 95%;
      border: 1px solid rgb(107, 105, 219);

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 3px #5263e4;
        background-color: rgb(224, 224, 224);
      }
    }
    .btn-addkh {
      color: rgb(255, 255, 255);
      background-color: rgb(255, 12, 12);
    }
    ///
    .number {
      width: 150px;
    }
    .dot {
      width: 100px;
    }
    .row {
      width: 100%;
      height: 50px;
      padding: 0px 10px;
      display: inline-flex;
      align-items: center;
      margin: 0px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
/* index.css */
.modal {
  font-size: 18px;
  padding: 15px;
  height: 800px;
  width: 1000px;
  background: #ffffff;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.form-create {
  flex: 1;
  padding: 0px 10px;
  border: 1px solid;

  box-shadow: 2px 3px #d6d6d6;
  .form-title {
    padding-top: 5px;
    text-align: center;
  }
  .form-top {
    width: 100%;
    display: flex;
    margin: 5px;
    padding: 5px;
    gap: 50px;
    .left {
      flex: 1;
      text-align: left;
      p {
        margin: 5px 5px;
        display: flex;
        span {
          margin-left: 15px;
        }
      }
    }
    .right {
      flex: 2;
      text-align: left;
      padding-right: 0;

      right-row1 {
        width: 100%;
      }
    }
  }
  .form-bottom {
    width: 100%;
    margin: 5px;
    padding-left: 100px;
    padding-right: 100px;
    height: 250px;
    .form-bottom-input {
      display: inline-flex;
      align-items: center;
      input {
        height: 50px;
        width: 200px;
        padding: 10px;
      }
    }

    .form-table {
      .table {
        width: 100%;
        box-shadow: 1px 1px 1px 1px #b1b1b1;
        height: 50px;
        overflow-y: scroll;
        .table-body {
          height: 100%;
          width: 100%;
          overflow: scroll;
          .table-row {
            height: 50px;
          }
        }
      }
    }
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    .Input-select {
      width: 100%;
    }
    .formInput {
      width: 40%;

      label {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          cursor: pointer;
        }
      }

      input {
        width: 100%;
        height: 2.5rem;
        padding: 5px;
        border: none;
        background: #ffffff;
        border-bottom: 1px solid rgb(255, 255, 255);
      }
      select {
        width: 25%;
        padding: 5px;
      }
    }

    button {
      width: 150px;
      padding: 10px;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
.list {
  display: flex;
  width: 100%;
  .listContainer {
    flex: 6;
  }
}
.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}
.search-bar-container {
  height: 100px;
}
.send-button {
  color: #ffffff;
  background-color: #0ab320;
  margin: 10px;
  padding: 10px;
}
.wrapper-button {
  text-align: center;
}
.active {
  background-color: aquamarine;
  height: 50px;
  align-self: center;
  margin-bottom: 10px;
}
.row-active {
  margin: 10px;

  .row-active-top {
    margin: 10px 0px;
    button {
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      gap: 5px;
    }
    button + button {
      margin-left: 10px;
    }
  }
  .row-active-bottom {
    margin: 10px 0px;
    button {
      display: inline-flex;
      align-items: center;
      font-size: 12px;

      gap: 5px;
      width: 85px;
    }
  }
  .row-active-bottom-add {
    margin: 10px 0px;
    button {
      display: inline-flex;
      align-items: center;
      font-size: 12px;

      gap: 5px;
      width: 100px;
    }
  }
}
