.expense-item {
  .right-row1 {
    display: inline-flex;
    width: 100%;

    .view-1 {
      width: 300px;
      align-items: center;
      display: inline-flex;
    }
    .view-2 {
      width: 200px;
      display: inline-flex;
      align-items: center;
    }
    .view-3 {
      width: 100px;
      display: inline-flex;
      align-items: center;
    }
  }
  .right-row2 {
    display: inline-flex;
    width: 100%;

    .view-1 {
      width: 300px;
      align-items: center;
      display: inline-flex;
    }
    .view-2 {
      width: 200px;
      display: inline-flex;
      align-items: center;
    }
  }
}
